@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-primary-100 text-primary-800 h-screen overflow-hidden text-base m-8;
}

ol,
ul {
  @apply pl-8;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  @apply mb-3;
}

.square {
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  width: 34px;
  @apply border border-primary-500 bg-transparent text-primary-800 p-0 text-center;
}

.square:focus {
  @apply outline-none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  @apply flex flex-row;
}

.game-info {
  @apply ml-5;
}
