@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-primary-100 text-primary-800 h-screen overflow-hidden text-base m-8;
}

.select-move {
  @apply rounded-full border border-primary-500 px-4 my-1;
}

.select-move.active {
  @apply font-bold bg-primary-200;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  @apply mb-3 font-bold text-xl;
}

.square {
  --size: 60px;
  float: left;
  font-size: calc(var(--size) - 10px);
  font-weight: bold;
  line-height: var(--size);
  height: var(--size);
  margin-right: -1px;
  margin-top: -1px;
  width: var(--size);
  @apply border border-primary-500 bg-transparent text-primary-800 p-0 flex items-center justify-center text-center;
}

.square:focus {
  @apply outline-none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  @apply flex flex-row;
}

.game-info {
  @apply text-lg ml-5;
}
